venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
dataset/raw/*
!dataset/raw/.gitkeep
dataset/processed/*
!dataset/processed/.gitkeep
models/keras/*
!models/keras/.gitkeep
models/tflite/*
!models/tflite/.gitkeep
reports/pdf/*
!reports/pdf/.gitkeep
reports/training/*
!reports/training/.gitkeep
database/*.db
